/*
 * homepage
 */


 // Modules
 @import "modules/variables";
 @import "modules/mixins";
 @import "modules/fonts";






$columns: 3;

main#homepage{

  margin: ($header-height + $navigation-height) 0 0 0;
  padding: 1000px 0 ($gutter * 4) 0;

  background: url("../img/test-background.jpg");
  background-size: cover;
  background-position: center center;


  section.intro{
    & > h2{
      padding: ($gutter * 5) 0 0 0;
      font-size: 5.6rem;
      letter-spacing: 2px;
      line-height: 9rem;
      text-shadow: 0 4px 5px rgba(0,0,0,0.60);
    }
    & > h1{
      text-align: center;
      font-size: 3.4rem;
      line-height: 5rem;
      text-shadow: 0 4px 5px rgba(0,0,0,0.60);
    }
  }


  section.threepillars,
  section.quicklinks,
  section.stories{
    clear: both;
    overflow: hidden;
    margin-top: ($gutter * 4);
    & > ul{
      background: rgba(0,0,0,0.8);
      list-style: none;
      list-style-type: none;
      overflow: hidden;
      & > li{
        background: rgba(0,0,0,0.8);
        float: left;
        text-align: center;
        padding: 0 ($gutter * 2) 0 ($gutter * 2);
        & > img{
          width: 100%;
        }
      }
    }
  }


  section.threepillars{
    background: none;
    & > ul{
      padding: ($gutter * 2) 0 ($gutter * 2) 0;
      background: rgba(0,0,0,0.5);
      & > li{
        width: (($content-width) / $columns);
        border-right: solid rgba(73, 73, 73, 1.0) 1px;
        padding: 0 ($gutter * 3) 0 ($gutter * 3);
        background: none;
        & > h3{
          font-size: 2.75rem;
          line-height: 4rem;
          height: 8rem;
        }
        a.button{
          width: 100%;
        }
        & > h6,
        & > p{
          font-size: 1.6rem;
          font-weight: 200;
          letter-spacing: 1px;
          line-height: 2.6rem;
        }
        &:last-child{
          border-right: none;
        }
        & > img{
          margin: 30px 0 $gutter 0;
        }
      }
    }
  }


  section.quicklinks{
    & > ul{
      background: none;
      & > li{
        width: (($content-width - ($gutter * ($columns - 1))) / $columns);
        margin: 0 $gutter 0 0;
        padding: ($gutter * 3) ($gutter * 3) ($gutter * 3) ($gutter * 3);
        background: rgba(0,0,0,0.5);
        &:last-child{
          margin: 0 0 0 0;
        }
        & > h3{
          border-bottom: solid rgba(73, 73, 73, 1.0) 1px;
          padding: 0 0 $gutter 0;
          font-size: 3rem;
          line-height: 4.8rem;
        }
        & > p{
          min-height: 130px;
          font-size: 1.6rem;
          line-height: 2.6rem;
        }
        a.button{
          width: 100%;
        }
      }
    }
  }


  section.stories{
    $columns: 2;
    width: $content-width;
    background: rgba(255,255,255,1.0);
    color: rgba(0,0,0,1.0);
    & > ul{
      background: rgba(255,255,255,1.0);
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      & > li{
        // float: left;
        background: rgba(255,255,255,1.0);
        text-align: left;
        padding: 0 0 0 0;
        width: (($content-width - ($gutter * 9)) / $columns);
        margin: ($gutter * 2) $gutter $gutter ($gutter * 4);
        & > h4{
          color: rgba(204, 0, 0, 1.0);
          text-align: center;
          font-size: 3.4rem;
          text-transform: capitalize;
          margin: 0 0 $gutter 0;
          font-weight: 200;
        }
        &:nth-child(1){
          order: 0;
        }
        &:nth-child(2){
          order: 1;
        }
        &:nth-child(3){
          order: 2;
        }
        &:nth-child(4){
          order: 3;
        }
        &:nth-child(3),
        &:nth-child(4){
          margin: 0 $gutter $gutter ($gutter * 4);
          text-align: center;

          & > ul{
            list-style: none;
            list-style-type: none;
            overflow: hidden;
            clear: both;
            display: flex;
            flex-direction: row;
            width: auto;
            & > li{
              height: 40px;
              line-height: 40px;
              & > div{
                border: solid rgba(0,0,0,1.0) 1px;
                border-radius: 50%;
                width: 40px;
                height: 40px;
                text-align: center;
                line-height: 36px;
                font-size: 2rem;
                &:hover{
                  color: rgba(204, 0, 0, 1.0);
                  cursor: pointer;
                }
                &.active{
                  color: rgba(204, 0, 0, 1.0);
                }
              }

              & > span{
                height: 1px;
                display: block;
                background: rgba(0,0,0,1.0);
                margin: 3px 0 0 0;
              }

              margin: 0 $gutter 0 0;

              &:first-child,
              &:last-child{
                border: none;
                border-radius: 0;
                height: 7px;
                flex: 1;
                margin: 16px 0 0 0;
              }
              &:first-child{
                border-left: solid rgba(0,0,0,1.0) 1px;
                margin: 16px $gutter 0 0;
              }
              &:last-child{
                border-right: solid rgba(0,0,0,1.0) 1px;
              }
            }
          }
        }
        &:nth-child(2){
          margin: ($gutter * 2) $gutter $gutter 0;
        }
        &:nth-child(4){
          margin: 0 $gutter ($gutter * 4) 0;
        }
        & > a{
          width: auto;
          display: none;
          & > img{
            margin: 0 0 $gutter 0;
            width: 100%;
          }
          & > h5{
            font-size: 2.4rem;
            line-height: 3.6rem;
            font-weight: 400;
          }
          & > p{
            font-size: 2rem;
            line-height: 3rem;
          }
          &:hover{
            color: rgba(204, 0, 0, 1.0);
            & > img{
              opacity: 0.75;
            }
          }
          &:nth-of-type(1){
            display: block;
          }
        }
      }
    }
  }

}





@media only screen and (max-width: 1280px){

  main#homepage{

    section.threepillars{
      & > ul{
        & > li{
          & > h3{
            font-size: 2.25rem;
          }
        }
      }
    }

    section.stories{
      & > ul{
        & > li{
          width: 62vw;
          margin: 0 auto 0 auto;
          & > h4{
            margin: ($gutter * 2) 0 $gutter 0;
          }
          &:nth-child(1){
            order: 0;
          }
          &:nth-child(2){
            order: 2;
          }
          &:nth-child(3){
            order: 1;
          }
          &:nth-child(4){
            order: 3;
          }
          &:nth-child(2){
            margin: ($gutter * 3) auto 0 auto;
          }
          &:nth-child(4){
            margin: 0 auto ($gutter * 3) auto;
          }
        }
      }
    }

  }

}

@media only screen and (max-width: 1100px){

  main#homepage{

    $content-width: 84vw;

    section.threepillars{
      width: $content-width;
      margin: 4vw auto 0 auto;
      & > ul{
        & > li{
          width: (($content-width) / $columns);
          & > h3{
            font-size: 2.25rem;
          }
        }
      }
    }

    section.quicklinks{

      $content-width: 84vw;

      width: $content-width;
      margin: 4vw auto 0 auto;
      & > ul{
        & > li{
          width: (($content-width - ($gutter * ($columns - 1))) / $columns);
          & > h3{
            border-bottom: solid rgba(73, 73, 73, 1.0) 1px;
            padding: 0 0 $gutter 0;
            font-size: 2.25rem;
            line-height: 4rem;
          }
        }
      }
    }

    section.stories{
      width: 84vw;
      margin: ($gutter * 4) auto 0 auto;
      & > ul{
        & > li{
          &:nth-child(3){
            margin: 0 auto 0 auto;
          }
        }
      }
    }

  }



}

@media only screen and (max-width: 900px){

  main#homepage{

    section.threepillars{
      & > ul{
        & > li{
          padding: 0 ($gutter * 1) 0 ($gutter * 1);
          & > h3{
            font-size: 2rem;
          }
        }
      }
    }

  }

}

@media only screen and (max-width: 800px){

  main#homepage{

    section.intro{
      width: 84vw;
      margin: 0 auto 0 auto;
      & > h2{
        font-size: 4.5rem;
        line-height: 6rem;
        margin: 0 0 ($gutter * 3) 0;
        width: 100%;
      }
      & > h1{
        font-size: 2.5rem;
        line-height: 3.5rem;
        margin: 0 0 ($gutter * 5) 0;
        width: 100%;
      }
    }

    section.threepillars{
      & > ul{
        & > li{
          border: none;
          padding: 0 ($gutter * 5) 0 ($gutter * 5);
          margin: 0 0 ($gutter * 6) 0;
          width: 100%;
          float: none;
          & > h3{
            font-size: 3rem;
            height: 5rem;
          }
          a.button{
            width: 70%;
          }
        }
      }
    }

    section.quicklinks{
      & > ul{
        background: none;
        & > li{
          width: 100%;
          margin: 0 0 ($gutter * 3) 0;
          padding: ($gutter * 4) ($gutter * 4) ($gutter * 5) ($gutter * 4);
          float: none;
          &:last-child{
            margin: 0 0 0 0;
          }
          & > h3{
            border-bottom: solid rgba(73, 73, 73, 1.0) 1px;
            padding: 0 0 $gutter 0;
            font-size: 3rem;
            line-height: 4.8rem;
          }
          & > p{
            min-height: 80px;
            font-size: 1.6rem;
            line-height: 2.6rem;
          }
          a.button{
            width: 70%;
          }
        }
      }
    }

  }

}

@media only screen and (max-width: 600px){

  main#homepage{

    section.intro{
      & > h2{
        font-size: 3.5rem;
        line-height: 5rem;
      }
      & > h1{
        font-size: 1.75rem;
        line-height: 2.5rem;
      }
    }

    section.stories{
      & > ul{
        & > li{
          & > a{
            width: auto;
            display: none;
            & > h5{
              font-size: 2rem;
              line-height: 3rem;
            }
            & > p{
              font-size: 1.5rem;
              line-height: 2.5rem;
            }
          }
        }
      }
    }

  }

}

@media only screen and (max-width: 450px){

  main#homepage{

    section.intro{
      & > h2{
        font-size: 2.5rem;
        line-height: 3.5rem;
      }
      & > h1{
        font-size: 1.5rem;
        line-height: 2.5rem;
      }
    }

    section.threepillars{
      & > ul{
        & > li{
          border: none;
          padding: 0 ($gutter * 5) 0 ($gutter * 5);
          margin: 0 0 ($gutter * 10) 0;
          width: 100%;
          float: none;
          & > h3{
            font-size: 2rem;
            height: 5rem;
          }
        }
      }
    }

  }

}
