/*
 * homepage
 */


 // Modules
 @import "modules/variables";

main{
  background: rgba(255,255,255,1.0);

  margin: ($header-height + $navigation-height) 0 0 0;
  padding: 0 0 0 0;
}


section.intro{

  $height: 350px;

  width: 100%;
  margin: 0 0 0 0;
  height: $height;
  & > h2{
    line-height: $height;
    text-transform: capitalize;
    font-size: 8rem;
    color: rgba(255,255,255,1.0);
    letter-spacing: 1px;
    text-shadow: 0 4px 5px rgba(0,0,0,0.60);
  }
  & > div.overlap{
    background: rgba(243, 243, 243, 1.0);
    height: 50px;
    width: $content-width;
    margin: nth($wrapper-margins,1) nth($wrapper-margins,2) nth($wrapper-margins,3) nth($wrapper-margins,4);
    position: absolute;
    bottom: 0;
  }
}

section.overview{
  height: auto;
  background: rgba(243, 243, 243, 1.0);
  text-align: center;
  color: rgba(0,0,0,1.0);
  padding: 0 ($gutter * 4) ($gutter * 2) ($gutter * 4);
  box-shadow: 0 3px 3px #ccc;
  & > p{
    font-size: 2.4rem;
    line-height: 5rem;
  }
}


section.contact,
section.highlights{
  clear: both;
  overflow: hidden;
  margin-top: ($gutter * 4);

}


section.contact{
  min-height: 300px;
  & > ul{
    list-style: none;
    list-style-type: none;
    overflow: hidden;
    width: $content_width;
    & > li{
      width: (($content_width - $gutter) / 2);
      float: left;
      text-align: center;
      margin: 0 $gutter ($gutter * 3) 0;
      color: rgba(0,0,0,1.0);
      & > h3{
        color: rgba(204, 0, 0, 1.0);
        text-transform: uppercase;
        padding: 0 0 $gutter 0;
        border-bottom: solid rgba(155, 155, 155, 1.0) 1px;
        font-size: 3.4rem;
        letter-spacing: 1.51px;
      }
      & > h4{
        text-transform: capitalize;
        font-size: 2.4rem;
        font-weight: 200;
      }
      & > p{
        & a{
          & > span{
            color: rgba(48, 154, 168, 1.0);
          }
          &:hover{
            text-decoration: none;
            color: rgba(48, 154, 168, 1.0);
          }
        }
      }
      &:last-child{
        margin: 0 0 0 0;
      }
    }
  }
}


section.highlights{
  background: rgba(39, 43, 53, 1.0);
  width: $wrapper-width;
  margin: 0 0 0 0;
  padding: ($gutter * 3) ($gutter * 3) ($gutter * 3) ($gutter * 3);
  text-align: center;
  & > div{
    background: rgba(255,255,255,1.0);
    color: rgba(0,0,0,1.0);
    padding: ($gutter * 1) 0 ($gutter * 3) 0;
    & > h2{
      width: $content_width;
      text-transform: capitalize;
      border-bottom: solid rgba(48, 154, 168, 1.0) 1px;
      margin: 0 auto 0 auto;
      font-size: 4.5rem;
      line-height: 5rem;
      padding: 20px 0 20px 0;
    }
    & > ul{
      list-style: none;
      list-style-type: none;
      overflow: hidden;
      width: $content_width;
      margin: ($gutter * 2) auto 0 auto;
      & > li{
        width: (($content_width - ($gutter * 2)) / 3);
        height: (($content_width - ($gutter * 2)) / 3) - 6;
        float: left;
        text-align: center;
        margin: 0 $gutter 0 0;
        position: relative;
        &:last-child{
          margin: 0 0 0 0;
        }
        & > h4{
          color: rgba(255,255,255,1.0);
          line-height: (($content_width - ($gutter * 2)) / 3) - 11;
          font-size: 2rem;
          font-weight: 200;
        }
        & > a{
          display: block;
          position: absolute;
          min-height: 110px;
          bottom: 0;
          background: rgba(0,0,0,1.0);
          margin: 0 0 0 0;
          width: 100%;
          color: rgba(255,255,255,1.0);
          font-size: 1.75rem;
          line-height: 2.25rem;
          padding: 20px 20px 20px 20px;
          &:hover{
            color: rgba(204, 0, 0, 1.0);
          }
        }
      }
    }
  }
}





@media only screen and (max-width: 1500px){

  section.intro{

    $height: 350px;
    & > h2{
      line-height: ($height - 50);
    }
  }

}


@media only screen and (max-width: 1300px){

  section.overview{
    & > p{
      font-size: 2.0rem;
      line-height: 3.5rem;
    }
  }

  section.contact{
    & > ul{
      & > li{
        width: (($content_width - ($gutter * 3)) / 2);
        margin: 0 ($gutter * 3) ($gutter * 3) 0;
        & > h3{
          font-size: 3.0rem;
        }
        & > h4{
          text-transform: capitalize;
          font-size: 2.0rem;
        }
        & > p{
          font-size: 2.0rem;
          line-height: 3.5rem;
        }
        &:last-child{
          margin: 0 0 ($gutter * 3) 0;
        }
      }
    }
  }


  section.highlights{
    & > div{
      & > h2{
        font-size: 4.0rem;
      }
      & > ul{
        & > li{
          & > h4{
            line-height: (($content_width - ($gutter * 2)) / 3) - 13;
            font-size: 1.75rem;
          }
          & > a{
            min-height: 90px;
            font-size: 1.5rem;
            line-height: 2.0rem;
            padding: 10px 10px 10px 10px;
          }
        }
      }
    }
  }

}


@media only screen and (max-width: 1100px){

  main > section{
    margin: 0 8vw 0 8vw;
    width: 84vw;
  }

  section.intro{
    & > div.overlap{
      width: 84vw;
      margin: nth($wrapper-margins,1) 8vw nth($wrapper-margins,3) 8vw;
    }
  }

  section.contact{
    & > ul{
      width: 84vw;
      & > li{
        width: ((84vw - ($gutter * 3)) / 2);
      }
    }
  }

  section.highlights{
    & > div{
      & > h2{
        font-size: 4.0rem;
        width: 84vw;
      }
      & > ul{
        width: 84vw;
        & > li{
          width: 84vw;
          height: 400px;
          & > h4{
            line-height: 400px;
            font-size: 1.75rem;
            width: 84vw;
          }
          & > a{
            min-height: 90px;
            width: 84vw;
            font-size: 1.5rem;
            line-height: 2.0rem;
            padding: 10px 10px 10px 10px;
          }
        }
      }
    }
  }

}


@media only screen and (max-width: 1000px){

  section.contact{
    & > ul{
      & > li{
        & > h3{
          font-size: 2.0rem;
        }
      }
    }
  }

  section.highlights{
    & > div{
      & > ul{
        & > li{
          float: none;
          margin: 0 0 ($gutter * 3) 0;
          & > a{
            min-height: 50px;
            line-height: 50px;
            padding: 0 10px 0 10px;
          }
        }
      }
    }
  }

}


@media only screen and (max-width: 900px){

  section.intro{
    & > h2{
      font-size: 5rem;
    }
  }

}


@media only screen and (max-width: 760px){

  section.contact{
    & > ul{
      & > li{
        width: 100%;
        float: none;
        margin: 0 auto ($gutter * 5) auto;
        & > h3{
          font-size: 2.0rem;
        }
        &:last-child{
          margin: 0 auto ($gutter * 5) auto;
        }
      }
    }
  }

}


@media only screen and (max-width: 500px){

  section.intro{
    $height: 250px;
    height: $height;
    & > h2{
      line-height: ($height - 50);
      font-size: 2.5rem;
    }
  }

  section.overview{
    & > p{
      font-size: 1.5rem;
      line-height: 3rem;
    }
  }

  section.contact{
    & > ul{
      margin: ($gutter * 5) auto 0 auto;
      & > li{
        width: 100%;
        float: none;
        margin: 0 auto ($gutter * 5) auto;
        & > h3{
          font-size: 2.0rem;
        }
        & > p{
          font-size: 1.5rem;
          line-height: 3rem;
        }
        &:last-child{
          margin: 0 auto ($gutter * 8) auto;
        }
      }
    }
  }

  section.highlights{
    & > div{
      & > h2{
        font-size: 2rem;
        line-height: 3.5rem;
      }
      & > ul{
        & > li{
          height: 250px;
          float: none;
          margin: 0 0 ($gutter * 3) 0;
          & > h4{
            line-height: 200px;
            font-size: 1.5rem;
          }
          & > a{
            min-height: 50px;
            font-size: 1.25rem;
            line-height: 2.5rem;
            padding: 10px 10px 10px 10px;
          }
        }
      }
    }
  }

}
